<h2 style="text-align: center;">User List</h2>

<div class="content">
  <div class="list">
    <label style="font-size: 150%;">Filter Search</label>
    <br>
    <input type="text" class="search" [(ngModel)]="searchText" placeholder="Filter By Name">
    <ul class="userList" >
      <li *ngFor="let user of userlist | filter: {name:searchText, id:searchText}">
        {{user.id}}: <a [routerLink]="['/profile', user.id]">{{ user.name }}</a>
      </li>
    </ul>
  </div>
    
    


</div>