
<nav>
  <div class="item">
    <a routerLink="/" routerLinkActive="active">
      <img class="navImg" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-13/256/Users-icon.png">
      <span class="caption">Users</span>
    </a>
    
  </div>
  <div class="item">
    <a routerLink="/photos" routerLinkActive="active">
      <img class="navImg" src="https://icons-for-free.com/iconfiles/png/512/gallery-131964752828011266.png">
      <span class="caption">Photos</span>
    </a>

  </div>
</nav>
    
   

  <router-outlet></router-outlet>
 